* {
    box-sizing: border-box;
    margin: 0;
}

.game {
    background-color: rgb(246, 250, 250);
    min-height: 100vh;
    text-align: center;
}
.container {
    margin: auto;
    max-width: 60%;
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 70%;
    }
}

.name {
    background: rgb(9, 58, 58);
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
button {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    margin: 15px 0px;
}
.words {
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 7px;
}
.input {
    border-radius: 7px;
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(9, 58, 58);
    font-size: 25px;
    padding: 6px;
    text-transform: capitalize;
}
.control {
    background:rgb(9, 58, 58) ;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 412px) {
    .control {
        display: block;
        margin: 20px;
        padding: 15px;
        background-color: rgb(246, 250, 250);
        color: rgb(9, 58, 58);
    }
    .difficulty span {
        display: block;
    }
}
.gpa {
    font-size: 50px;
    color: rgb(9, 58, 58);
    font-weight: bold;
    padding: 10px;
}
#again {
    display: flex;
    justify-content: space-between;
    float: right;
    border-radius: 50px;
}
