* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: url(images/WhatsApp\ Image\ 2022-10-21\ at\ 15.16.12.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.screen-lock {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(244, 251, 255, 0.98);
}

.screen-lock .start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #47f6e3;
  color: black;
  padding: 15px;
  width: 15%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgb(197, 189, 189) 5px 8px 5px;
}
.screen-lock .start:hover {
  background-color: #4e5c5a;
  color: white;
}
.screen-lock .difficulty {
  text-align: center;
  position: relative;
  bottom: -35px;
}
.screen-lock .difficulty .dif {
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  color: black;
}
button {
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  border-radius: 6px;
  margin: 0 5px 0 0;
  box-shadow: rgb(197, 189, 189) 5px 8px 5px;
}
.counter {
  width: 60%;
  height: 60%;
  z-index: 10;
  background-color: rgb(213 234 249 / 0.96);
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.counter .count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  transition: 0.3s;
  color: black;
}
.game {
  /* margin-top: 50px; */
  min-height: 100vh;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 60%;
}

.name {
  padding: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
  font-style: italic;
  background-color: #f4c283cc;
}
.words {
  font-size: 30px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 7px;
  color: black;
}
.input {
  border-radius: 7px;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 6px;
  text-transform: capitalize;
}
.control {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 10px;
}
.control .time,
.control .score {
  background-color: rgb(213 234 249);
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: rgb(197, 189, 189) 5px 8px 5px;
  font-weight: 700;
  position: relative;
  bottom: -23px;
}
.control .score {
  right: 14px;
}
.gpa {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(244, 251, 255, 0.66);
}
.high-score {
  width: 700px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 550;
  font-style: inherit;
  border-radius: 10px;
}
.high-score p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: normal;
}
.high-score p .high {
  padding-left: 10px;
  font-size: 40px;
  color: #0db48f;
  font-style: italic;
}
.overlay .high-score #again {
  position: absolute;
  right: 34px;
  bottom: 9%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  box-shadow: rgb(197, 189, 189) 5px 8px 5px;
}

@media (max-width: 880px) {
  .screen-lock .start {
    font-size: 15px;
  }
}
@media (max-width: 660px) {
  .screen-lock .start {
    width: 35%;
    font-size: 20px;
  }
  .control {
    display: block;
    font-size: 15px;
    background: none;
  }
  .control .time,
  .control .score {
    padding-bottom: 10px;
    font-size: 17px;
    box-shadow: none;
    position: static;
    margin-bottom: 10px;
  }
  .overlay .high-score #again {
    right: 80px;
  }
}
@media (max-width: 415px) {
  .screen-lock .difficulty .dif {
    font-size: 19px;
  }
  .screen-lock .start {
    width: 35%;
    font-size: 20px;
  }
  .name {
    font-size: 28px;
  }
  .control {
    display: block;
  }
  .control .time,
  .control .score {
    padding-bottom: 10px;
    font-size: 17px;
    box-shadow: rgb(197, 189, 189) 5px 8px 5px;
    position: static;
  }
  .gpa {
    font-size: 30px;
  }
  .overlay .high-score #again {
    right: 130px;
  }
}
@media (max-width: 405px) {
  .screen-lock .start {
    font-size: 15px;
  }
  .name {
    font-size: 25px;
  }
  .control {
    position: absolute;
    top: 41%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
  .control .time,
  .control .score {
    font-size: 15px;
    background-color: rgb(213 234 249);
    box-shadow: rgb(197, 189, 189) 5px 8px 5px;
  }
  .gpa {
    font-size: 30px;
  }
  .overlay .high-score #again {
    right: 150px;
  }
}
@media (max-width: 360px) {
  .screen-lock .difficulty .dif {
    font-size: 15px;
  }
  .screen-lock .difficulty button {
    font-size: 12px;
  }
  .screen-lock .start {
    width: 30%;
    font-size: 10px;
  }
  .name {
    font-size: 18px;
  }
  .control .time,
  .control .score {
    font-size: 10px;
    position: static;
  }
  .gpa {
    font-size: 20px;
  }
  .overlay .high-score #again {
    right: 243px;
  }
}
